**Q.1 Write a program to check if a number is positive, negative, or zero.**

In [7]:
num = -5

if num > -5:
  print("the num is positive")
elif num < -5:
  print("the num is negative")
else:
  print("the num is zero")

the num is zero

**Q.2 Input a number and print whether it is even or odd**

In [10]:
num = 0

if num > 0:
  if num % 2 == 0:
    print("the number is positive and even")
  else:
    print("the number is positive and odd")
elif num < 0:
  if num % 2 ==0:
    print("the number is negative and even")
  else:
    print("the number is negative and odd")
else:
  print("the number is zero and even")

the number is zero and even

**Q.3 Ask age and print if person is eligible to vote**

In [15]:
age = int(input("enter your age: "))
if age >= 18:
  print("the person is eligible for vote")
else:
  print("the person is not eligible for vote")

enter your age: 19
the person is eligible for vote

**Q.4 Check if a number is divisible by 3, 5, or both**

In [41]:
if num % 3 == 0 and num % 5 == 0:
    print("The number is divisible by both 3 and 5.")
elif num % 3 == 0:
    print("The number is divisible by 3 only.")
elif num % 5 == 0:
    print("The number is divisible by 5 only.")
else:
    print("The number is not divisible by 3 or 5.")

The number is divisible by 5 only.

**Q.5 Input marks and print grade using if-elif-else**

In [17]:
marks = int(input("enter your FA marks"))

if marks > 850:
  print("the grade is A+")
elif marks > 600:
  print("the grade is B")
elif marks > 500:
  print("the grade is C")
else:
 print("the person is failed")

enter your FA marks700
the grade is B

**Q.6 Print numbers from 1 to 10 using a loop**

In [23]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

**Q.7 Print the multiplication table of 6**

In [38]:
for i in range(1,11):
  print(f"6 * {i} = {6 * i}")

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

**Q.8 Use a loop to print all even numbers between 1 and 20**

In [39]:
for i in range(1,20):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18

**Q.9 Ask for a word and print each letter on a new line**

In [31]:
word = (input("enter a word: "))
for letter in word:
  print(letter)
  print()

enter a word: python
p

y

t

h

o

n

**Q.10 Count how many vowels are in the word “education”**

In [40]:
word = "education"
count = sum(1 for letter in word if letter in "aeiouu")
print("numbers of wowels in :",count)

numbers of wowels in : 5