**Q.1 Create a list of 5 favorite fruits and print each using a loop**

In [10]:
fruits = ["apple", "mango", "Banana", "Almond", "Orange"]
for fruits in fruits:
  print(fruits)

apple
mango
Banana
Almond
Orange

**Q.2 Create a tuple with 3 items: name, age, and city. Access and print each**

In [4]:
my_tuple = ("Sultan", 22, "Gujranwala")
print("name:", my_tuple[0])
print("age:", my_tuple[1])
print("city:", my_tuple[2])

name: Sultan
age: 22
city: Gujranwala

**Q.3 Make a dictionary with student name, class, and score. Print keys and values**

In [33]:
my_dictionary = {
    "student name": "Sultan",
    "class": "AI",
    "score": "79"
    }
print("keys:", my_dictionary.keys())
print("values:", my_dictionary.values())

keys: dict_keys(['student name', 'class', 'score'])
values: dict_values(['Sultan', 'AI', '79'])

**Q.4 Update the list by adding and removing items. Print the updated list**

In [11]:
my_list = ["apple", "mango", "Banana", "Almond", "Orange"]
my_list.append("Grapes") #add atem
my_list.remove("Almond") #remove atem
print(my_list)

['apple', 'mango', 'Banana', 'Orange', 'Grapes']

**Q.5 Use a loop to count items in the list and print using len()**

In [18]:
Items = ["apple", "mango", "Banana", "Almond", "Orange"]
count = 0
for Items in Items:
  count += 1
print("Count using loop:", count)
print("Count using len():", len(Items))

Count using loop: 5
Count using len(): 6

**Q.6 Check if a value exists in a tuple using in keyword**

In [19]:
my_tuple = ("Sultan", 22, "Gujranwala")
if "Sultan" in my_tuple:
  print("Sultan is in the tuple")
else:
  print("Sultan not in the tuple")

Sultan is in the tuple

**Q.7 Add a new key-value pair to your dictionary and print the result**

In [32]:
my_dictionary = {
    "student name": "Sultan",
    "class": "AI",
    "score": "79"
    }
my_dictionary["Grade"] = "5"
print(my_dictionary)

{'student name': 'Sultan', 'class': 'AI', 'score': '79', 'Grade': '5'}

**Q.8 Write a program that converts a list to a tuple and prints both**

In [26]:
my_list = ["apple", "mango", "Banana", "Almond", "Orange"]
my_tuple = tuple(my_list)
print("list:", my_list)
print("tuple:", my_tuple)

list: ['apple', 'mango', 'Banana', 'Almond', 'Orange']
tuple: ('apple', 'mango', 'Banana', 'Almond', 'Orange')

**Q.9 Create a dictionary of 3 students with marks. Print names who scored > 80**

In [31]:
students = {
    "student1": 87,
    "student2": 78,
    "student3": 95
    }
for name, marks in students.items():
  if marks > 80:
    print(name, "scored more than 80")

student1 scored more than 80
student3 scored more than 80

**Q.10 Create a tuple of mixed data. Loop through it and print type of each item**

In [36]:
mixed_tuple = ("Sultan", 22,  22.99, True)
for Item in mixed_tuple:
  print(f"Item: {Item}, Type: {type(Item)}")

Item: Sultan, Type: <class 'str'>
Item: 22, Type: <class 'int'>
Item: 22.99, Type: <class 'float'>
Item: True, Type: <class 'bool'>