**Q.1 Create variables a = 15 and b = 4. Perform and print all arithmetic operations.**

In [ ]:
a = 15
b = 4
print("a + b =", a +b)
print("a - b =", a -b)
print("a * b =", a *b)
print("a ** b =", a **b)
print("a / b =", a /b)
print("a // b =", a //b)
print("a % b =", a %b)

a + b = 19
a - b = 11
a * b = 60
a ** b = 50625
a / b = 3.75
a // b = 3
a % b = 3

**Q.2 Use comparison operators to compare a and b and print results**

In [ ]:
a: int = 8
b: int = 9
print("a == b =", a == b)
print("a != b =", a != b)
print("a > b =", a > b)
print("a < b =", a < b)
print("a >= b =", a >= b)
print("a <= b =", a <= b)

a == b = False
a != b = True
a > b = False
a < b = True
a >= b = False
a <= b = True

**Q.3 Create boolean variables x = True, y = False. Perform logical operations and print outcomes.**

In [ ]:
x: bool = True
y: bool = False
print("x and y =", x and y)
print("x or y =", x or y)
print("not x =", not x)
print("not y =", not y)

x and y = False
x or y = True
not x = False
not y = True

**Q.4 Use assignment operators (+=, -=, *=, etc.) on a variable and print updated values.**

In [ ]:
x = 4
print("x =", x)
x += 4
print("x += 4 ", x)
x -= 4
print("x -= 4 ", x)
x *= 4
print("x *= 4 ", x)
x /= 4
print("x /= 4 ", x)
x //= x
print("x //= ", x)

x = 4
x += 4  8
x -= 4  4
x *= 4  16
x /= 4  4.0
x //=  1.0

**Q.5 Use is and is not operators with two equal values**

In [ ]:
a = 50
b = 50
print(a is b)
print(a is not b)

True
False

**Q.6 Check the presence of words using in and not in operators in a string.**

In [ ]:
sentence = "i love pakistani language"
#in
print("love" in sentence)
print("python" in sentence)
#not in
print("java" not in sentence)
print("pakistani" not in sentence)

True
False
True
False

**Q.7 Import the keyword module and print all Python keywords.**

In [ ]:
import keyword
print("the keyword list is:")
print(keyword.kwlist)

the keyword list is:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

**Q.8 Declare variables name, age, height, and print their values with types.**

In [ ]:
name = "asad_ali"
age = 22
height = 5.5
print("value of name:", name, type(name))
print("value of age:", age, type(age))
print("value of heigt:", height, type(height))

value of name: asad_ali <class 'str'>
value of age: 22 <class 'int'>
value of heigt: 5.5 <class 'float'>

**Q.9 Write 5 valid and 3 invalid variable names (with comments).**

In [ ]:
ali = "valid"           # چھوٹے حرف سے شروع ہو رہا ہے
_pakistan = "valid"     # انڈر اسکور (_) سے شروع ہو رہا ہے
Bilal = "valid"         # بڑے حرف سے شروع ہو رہا ہے
asad_ali = "valid"      # حروف اور انڈر اسکور پر مشتمل ہے
ai_hub = "valid"        # حروف اور انڈر اسکور پر مشتمل ہے


# 345ali = "invalid"      #  کیونکہ یہ ہندسے (digit) سے شروع ہو رہا ہے
# if = "invalid"          # کیونکہ "if" ایک Python کا **keyword** ہے
# my list = "invalid"     # کیونکہ اس میں **space** ہے، جو allowed نہیں

**Q.10 Assign multiple values in one line and use type() and id() to inspect them.**

In [ ]:
x,y,z = 1, 2.3, "pakistan"
print("x =", x, type(x), id(x))
print("y =", y, type(y), id(y))
print("z =", z, type(z), id(z))

x = 1 <class 'int'> 10757736
y = 2.3 <class 'float'> 134579727858320
z = pakistan <class 'str'> 134579754748016

In [ ]:
a, b, c = 10, 5.5, "hello"
print("a =", a, "| type:", type(a), "| id:", id(a))
print("b =", b, "| type:", type(b), "| id:", id(b))
print("c =", c, "| type:", type(c), "| id:", id(c))