**Q.1 Create a variable with your name and print each character using a loop.**

In [ ]:
name = "AsadAli"
for char in name:
 print(char)

A
s
a
d
A
l
i

**Q. 2 Use slicing to print the first 4 characters of a string.**

In [ ]:
my_string = "Hello World!"
print(my_string[0:4])

Hell

**Q.3 Ask the user to input a number as a string, convert it to int, add 10, and print the result**

In [ ]:
user_input = input("Enter a number as a string: ")
converted_number = int(user_input)
print(converted_number+10)

Enter a number as a string: 60
70

**Q.4 Create a list of string numbers like ["10", "20", "30"], convert to int, and print updated list.**

In [ ]:
string_number = ["80", "90", "70", "50"]
converted_number = [int(num)for num in string_number]
print(converted_number)

[80, 90, 70, 50]

**Q.5  Check if "Python" is in a string using in and print a message.**

In [ ]:
my_string = "python is a easy language in programing"
if "python" in my_string:
 print("yes python in your string")
else:
  print("python not in your string")

yes python in your string

**Q.6 Create a string, convert it to uppercase, lowercase, and title case.**

In [ ]:
my_string = "python vs java"
print (my_string.upper())

PYTHON VS JAVA

**Q.7 Use type() to display data types before and after casting from string to integer.**

In [ ]:
my_string = "123456789"
print("Before casting:",type(my_string))
converted_integer = int(my_string)
print("After casting:", type(converted_integer))

Before casting: <class 'str'>
After casting: <class 'int'>

**Q.8 Take user input for name and age. Check if age (casted to int) is above 18 and print eligibility.**

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
age = (int(age))
if age> 18:
 print("Welcome name", "you are eligible for this program")
else:
 print("Sorry name", "you are not eligible for this program")

Enter your name: asad
Enter your age: 22
Welcome name you are eligible for this program

**Q.9 Create a variable with mixed-case text. Check if the text is uppercase and print results.**

In [ ]:
my_variable = "pytonn786.99"
if my_variable.isupper:
 print("your_variable is in uppercase")
else:
  print("your variable is in not uppercase")

your_variable is in uppercase

**Q.10 Create a string with numbers, convert it to float and int, and print all conversions with their types.**

In [ ]:
my_string = "786"
converted_float = float(my_string)
converted_int = int(converted_float)
print("Original string:", my_string, " type:", type(my_string))
print("as float:", converted_float, " type:", type(converted_float))
print("as int:", converted_int, " type:", type(converted_int))

Original string: 786  type: <class 'str'>
as float: 786.0  type: <class 'float'>
as int: 786  type: <class 'int'>