**ğğ«ğšğœğ­ğ¢ğœğšğ¥ ğ–ğ¨ğ«ğ¤ â€“ ğ‡ğšğ§ğğ¬-ğ¨ğ§ ğ„ğ±ğğ«ğœğ¢ğ¬ğğ¬**.
**Asad Ali**

**Q.1**
**Create variables of types: ğ¬ğ­ğ«ğ¢ğ§ğ , ğ¢ğ§ğ­ğğ ğğ«, ğŸğ¥ğ¨ğšğ­, and ğ›ğ¨ğ¨ğ¥ğğšğ§. Print their ğ¯ğšğ¥ğ®ğğ¬ and ğ­ğ²ğ©ğğ¬.**

In [ ]:
my_hobby = "reading_book"
favorite_Num = 786
salary_income = 7.86
my_name_is_asad = "true"
print("my_hobby =", my_hobby)
print("favorite_num =", favorite_Num)
print("salary_income =", salary_income)
print("my_name_is_asad =", my_name_is_asad)

my_hobby = reading_book
favorite_num = 786
salary_income = 7.86
my_name_is_asad = true

**Q.2**
 **Make a ğ¥ğ¢ğ¬ğ­ ğ¨ğŸ ğŸ“ ğŸğ«ğ®ğ¢ğ­ğ¬ and print.**

In [ ]:
fruits_list: list = ["apple", "orange" ,"banana", "mango", "lemon"]
print("fruits_list:", fruits_list)

fruits_list: ['apple', 'orange', 'banana', 'mango', 'lemon']

**Q.3**
**Create a ğ­ğ®ğ©ğ¥ğ ğ¨ğŸ ğŸ‘ ğŸğšğ¯ğ¨ğ«ğ¢ğ­ğ ğ§ğ®ğ¦ğ›ğğ«ğ¬ and print.**

In [ ]:
my_tuple = (786, 78.6, 100000)
print("my_tuple:", my_tuple)

my_tuple: (786, 78.6, 100000)

**Q.4**
**Define a ğğ¢ğœğ­ğ¢ğ¨ğ§ğšğ«ğ² with keys: name, age, city â€“ and print ğšğ¥ğ¥ ğ¤ğğ²-ğ¯ğšğ¥ğ®ğ ğ©ğšğ¢ğ«ğ¬.**

In [ ]:
my_dict = {"name": "asad", "age": "23", "city": "kasur"}
print("my_dict:", my_dict)

my_dict: {'name': 'asad', 'age': '23', 'city': 'kasur'}

**Q.5**
**Create a ğ¬ğğ­ ğ¨ğŸ ğ®ğ§ğ¢ğªğ®ğ ğ¡ğ¨ğ›ğ›ğ¢ğğ¬.**

In [ ]:
unique_hobbies = {"reading", "gaming", "running", "writing", "gardening"}
print("unique_hobbies:", unique_hobbies)

unique_hobbies: {'gardening', 'gaming', 'writing', 'reading', 'running'}

**Q.6**
**Make a ğ¥ğ¢ğ¬ğ­ ğ¨ğŸ ğŸ“ ğ¬ğ­ğ®ğğğ§ğ­ ğ§ğšğ¦ğğ¬ and print.**

In [ ]:
students_names = ["bilal_ahmed", "rehan", "kashif", "majid"]
print("students_names:", students_names)

students_names: ['bilal_ahmed', 'rehan', 'kashif', 'majid']

**Q.7**
**Create a ğğ¢ğœğ­ğ¢ğ¨ğ§ğšğ«ğ² of 3 programming languages with their creators and print them.**

In [ ]:
my_dict: dict = {"python": "guido_van_rossum", "java": "james_gosling", "c++": "bjarne_stroustrup"}
print(type(my_dict), "my_dict =", my_dict)

<class 'dict'> my_dict = {'python': 'guido_van_rossum', 'java': 'james_gosling', 'c++': 'bjarne_stroustrup'}

**Q.8**
**Store 3 ğŸğ¥ğ¨ğšğ­ numbers and calculate their ğšğ¯ğğ«ğšğ ğ.**

In [ ]:
num1 = 8.90
num2 = 10.7
num3 = 10.0
average = num1+num2+num3
print("average=", average)

average= 29.6

**Q.9**
**Create a ğ­ğ®ğ©ğ¥ğ ğ¨ğŸ ğŸ’ ğœğ¢ğ­ğ¢ğğ¬.**

In [ ]:
cities: tuple = ("lahore", "gujranwla", "kasur")
print(cities)

('lahore', 'gujranwla', 'kasur')

**Q.10**
**Make a ğ¬ğğ­ ğ¨ğŸ ğ¯ğ¨ğ°ğğ¥ğ¬ in a string and print.**

In [ ]:
text = "Artificial_Intelligence"
vowels = {'a', 'e', 'i', 'o', 'u'}
vowel_set = {char for char in text.lower() if char in vowels}
print("vowels in the string:", vowel_set)

vowels in the string: {'a', 'e', 'i'}