**Q.1 Create a set of 5 fruits and print it.**

In [24]:
fruits_set = {"apple", "banana", "cherry", "date", "elderberry"}
print(fruits_set)

{'elderberry', 'banana', 'cherry', 'date', 'apple'}

**Q.2 Add one new fruit to your set using .add() and print the updated set.**

In [25]:
fruits_set.add("orange")
print(fruits_set)

{'elderberry', 'banana', 'cherry', 'date', 'apple', 'orange'}

**Q.3 Remove an existing fruit using .remove() (and explain if it errors when missing).**

In [26]:
fruits_set.remove("orange") #remove() methode raised errors if item not have
print(fruits_set)

{'elderberry', 'banana', 'cherry', 'date', 'apple'}

**Q.4 Remove another fruit using .discard() (and note the difference from .remove()).**

In [27]:
fruits_set.discard("banana") #discard() methode not raised errors if item not have he simple runing vithout any item printing
print(fruits_set)

{'elderberry', 'cherry', 'date', 'apple'}

**Q.5 Use .pop() to remove an arbitrary item and print the result.**

In [29]:
fruits_set.pop() #pop() methode raised errors if item not have
print("pop method:", fruits_set)

pop method: {'date', 'apple'}

**Q.6 Clear the remaining items using .clear() and show that the set is now empty.**

In [30]:
fruits_set.clear() #empty set
print("empthy set:", fruits_set)

empthy set: set()

**Q.7 Create two sets of numbers and display their union(), intersection(), difference(), symmetric_difference().**

In [31]:
set1 = {10,20,30,40,50}
set2 = {40,30,50,60,20}
set3 = set1.union(set2)
print("union method:", set3) #union method
print()
set3 = set1.intersection(set2)
print("intersection method:", set3) #intersection method
print()
set3 = set1.difference(set2)
print("difference method:", set3) #difference method
print()
set3 = set1.symmetric_difference(set2)
print("symmetric_difference method:", set3) #symmetric_difference method

union method: {40, 10, 50, 20, 60, 30}

intersection method: {40, 50, 20, 30}

difference method: {10}

symmetric_difference method: {10, 60}

In [ ]:
print("Is set2 a superset of set1?", set2.issuperset(set1))
print("Is set1 a superset of set2?", set1.issuperset(set2))

**Q.8 Check if one set is a subset or superset of another, and print results.**

In [46]:
print("is set1 a subset of set2?:", set1.issubset(set2))
print("is set2 a subset of set1?:", set2.issubset(set1))
print()
print("is set2 a superset of set1?:", set2.issuperset(set1))
print("is set1 a superset of set2?:", set1.issuperset(set2))

is set1 a subset of set2?: False
is set2 a subset of set1?: False

is set2 a superset of set1?: False
is set1 a superset of set2?: False

**Q.9 Declare a frozenset of vowels and try adding an item â€” observe the immutability error.**

In [54]:
vowels = frozenset({"a","e","i","o","u"})
#vowels.add("b") #he raised error
#print(vowels)

**Q.10 Use a loop to check membership of a user-input character in the set of vowels.**

In [57]:
vowels = {"a", "e", "i", "o", "u"} #set of vowels

char = input("Enter a character: ").lower() #input from a user

found = False #check membership
for v in vowels:
    if char == v:
        found = True
        break

if found: #print result
    print(f"'{char}' is a vowel.")
else:
    print(f"'{char}' is not a vowel.")

Enter a character: v
'v' is not a vowel.